<div class="card">
  <div class="card-body">
    <div class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label class="my-1 mr-2">Telephone numbers</label>
        <input type="text" class="form-control" [(ngModel)]="phoneNumber" required id="phoneNumber" placeholder="Telephone"
          (keyup.enter)="findBestOperator()">
      </div>
      <button type="submit" class="btn btn-primary mb-2" (click)="findBestOperator()">Search</button>
      <div class="alert alert-secondary my-1 ml-2" role="alert" *ngIf="cheepestOperator">
        Cheapest operator is <span class="result">{{cheepestOperator}}</span> at <span class="result">{{cheepestOperatorCost | currency }}</span>
      </div>
    </div>
  </div>
</div>
