<div class="card container-min-height">
  <div class="card-body">
    <form #frm="ngForm">
      <div class="form-group">
        <label for="name">Telephone numbers</label>
        <input type="text" required minlength="6" maxlength="11" pattern="^[0-9]{11}$" class="form-control" 
        [(ngModel)]="phoneNumber" #phoneNumberRef="ngModel" name="phoneNumber" placeholder="Telephone" 
        (keyup.enter)="findBestOperator()">
      </div>
      <div class="alert alert-danger" *ngIf="phoneNumberRef.invalid && (phoneNumberRef.dirty || phoneNumberRef.touched)">
        <div *ngIf="phoneNumberRef.errors.required">
          Telephone numbers is required.
        </div>
        <div *ngIf="phoneNumberRef.errors.minlength">
          Telephone numbers must be at least 11 characters long.
        </div>
        <div *ngIf="phoneNumberRef.errors.pattern">
          Telephone numbers dosent match the pattern.
        </div>
      </div>
      <button type="submit" class="btn btn-primary mb-2" [disabled]='!frm.valid' (click)="findBestOperator()">Search</button>
    </form>
    <div class="alert alert-secondary" role="alert" *ngIf="cheapestOperator">
        Cheapest operator is {{cheapestOperator}} at {{cheapestOperatorCost| currency }}
    </div>
    <div class="alert alert-secondary" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
